<div class='login-page'>
    <div class='content'>
        <mat-card>
            <mat-card-title>WELCOME</mat-card-title>
            <mat-card-subtitle>Login to continue to your dashboard.<br>Signup if you are a new user.</mat-card-subtitle>
            <mat-card-content>
                <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
                    <mat-tab label="LOGIN">
                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                            <mat-form-field appearance="outline">
                                <mat-label>Username</mat-label>
                                <input matInput id="username" type="text" formControlName="username" required>
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password" required>
                            </mat-form-field>
                            <button mat-raised-button [disabled]="!loginForm.valid" color="warn" style="width: 35%;">Submit</button>
                        </form>
                    </mat-tab>
                    <mat-tab label="SIGN-UP">
                        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
                            <mat-form-field appearance="outline" style="width: 47.5%; margin-right: 5%;">
                                <mat-label>First Name</mat-label>
                                <input matInput type="text" formControlName="firstname">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 47.5%;">
                                <mat-label>Last Name</mat-label>
                                <input matInput type="text" formControlName="lastname">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="outline" style="width: 47.5%; margin-right: 5%;">
                                <mat-label>Password</mat-label>
                                <input matInput type="password" id="password1" formControlName="password1">
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width: 47.5%;">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput type="password" id="password2" formControlName="password2">
                            </mat-form-field>
                            <button mat-raised-button [disabled]="!signupForm.valid" color="warn" style="width: 35%;">Submit</button>
                        </form>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
    <div class='footer'>
        <div>Personal work ©2020. Prakash Chandra</div>
    </div>
</div>