.login-page{
    height: 100%;
    width: 100%;
}
.footer{
    align-self: flex-end;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: small;
    color: white;
}
.content{
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    margin-top: 2%;
    text-align: center;
}
.mat-card{
    width: 30%;
}
.mat-form-field{
    width:100%;
    padding: 0;
}
.mat-card-title {
    color: orangered;
    text-align: center;
    font-weight: 800;
}
.mat-card-subtitle{
    text-align: center;
}