/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: linear-gradient(to left top, #383838, #e0e0e0) fixed;
    background-repeat:no-repeat;
    position: relative;
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
